
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4>A propos</h4>
                    <p><a href="#">Qui sommes nous</a></p>
                    <p><a href="#">Notre Catalogue</a></p>
                    <p><a href="#">Contactez-nous</a></p>
                    <p><a href="#">FAQ</a></p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Modes de paiement </h4>
                    <p><a href="#">Cartes bancaires</a></p>
                    <p><a href="#">PayPal</a></p>
                    <p><a href="#">Paiement mobile</a></p>
                    <p><a href="#">Chèques</a></p>
                    <p><a href="#">Espèce</a></p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Informations Légales</h4>
                    <p><a href="#">Conditions d'utilisation du site</a></p>
                    <p><a href="#">Conditions légales de vente</a></p>
                    <p><a href="#">Politique de confidentialité</a></p>
                    <p><a href="#">Charte des données personnelles</a></p>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://www.instagram.com/?hl=fr" target="_blank"> <i class="fa-brands fa-instagram fa-2x margin"></i></a>
                    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                </div>

            </div>
        </div>
    </div>
</div>





