{# Utilisation du squelette de la page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page  #}
{% block title %}Accueil{% endblock %}

{# Le contenu de la page #}
{% block body %}

   {# Grille bootstrap #}
  <div class="container-fluid">

      {# Affichage de l'image fixe #}
      <div class="row my-5 image-cover"></div>

        {# Menu déroulant des differentes catégories de produits #}
      <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Catégories
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Maison</a></li>
              <li><a class="dropdown-item" href="#">Cosmétiques</a></li>
              <li><a class="dropdown-item" href="#">Accessoires</a></li>
              <li><a class="dropdown-item" href="#">Alimentation</a></li>
          </ul>

          {# Lien cliquable Accès aux différentes pages des produits proposés à la vente #}
          <button type="button" class="btn btn-link">Maison</button>
          <button type="button" class="btn btn-link">Cosmétique / Beauté</button>
          <button type="button" class="btn btn-link">Accessoires</button>
          <button type="button" class="btn btn-link">Alimentation</button>

          {# Menu déroulant Service Clients #}
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Service Clients
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Votre Compte</a></li>
              <li><a class="dropdown-item" href="#">Vos commandes</a></li>
              <li><a class="dropdown-item" href="#">Vos paiements</a></li>
              <li><a class="dropdown-item" href="#">Contactez-nous</a></li>
          </ul>

      </div>

      {# Slides de présentation et de défilement des produits par catégorie #}
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="{{ asset('Images/Maison.jpg') }}" class="d-block w-100" alt="Maison">
              </div>
              <div class="carousel-item">
                  <img src="{{ asset('Images/le-beurre-de-karite.jpg') }}" class="d-block w-100" alt="beurre de Karité">
              </div>
              <div class="carousel-item">
                  <img src="{{ asset('Images/Coiffe-pagne-collier-boucles-perle-jaune.jpg') }}" class="d-block w-100" alt="Ensemble coiffe collier">
              </div>
              <div class="carousel-item">
                  <img src="{{ asset('Images/Miel-ivoirien.jpg') }}" class="d-block w-100" alt="Miel de Côte d'Ivoire">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>

  </div>







{% endblock %}